@import './scss/login.scss';
@import './scss/main.scss';
@import './scss/nav.scss';
@import './scss/part/post.scss';
@import './scss/slideDrawer.scss';
@import './scss/backdrop.scss';
@import './scss/event.scss';
@import './scss/part/eventDetail.scss';
@import './scss/part/eventParticipant';
@import './scss/part/comment.scss';
@import './scss//profile.scss';
.App{
  height: max-content;
  overflow: hidden;
}

html{
  background: #453257;
  background-color: white;
}

.Clearfix{
  overflow: auto;
}

.danger{
  position: absolute;
  bottom:70px;
  color: rgb(184, 34, 34);
  font-family: SourceSansPro-SemiBold;
  font-size: 16px;
  z-index: 100;
  text-align: center;
  width: 100%;
}

input:-internal-autofill-selected {
  background-color: transparent !important;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}