.CommentContainer{
  padding-top: 16px;
  padding-bottom: 56px;
  .Comment{
    padding: 8px 16px;
    .Avatar{
      height: 32px;
      width: 32px;
      float: left;
      overflow: hidden;
      img{
        height: 32px;
        width: 32px;
        border-radius: 50%;
      }
    }
    .Details{
      float: left;
      width: calc(100% - 48px);
      padding: 0;
      padding-left: 16px;
      .Header{
        overflow: hidden;
        .Username{
          height: 12px;
          font-family: SourceSansPro-Regular;
          font-size: 12px;
          line-height: 1;
          color: #8560A9;
          padding: 1.5px 0;
          float: left;
        }
        .Time{
          font-family: SourceSansPro-Regular;
          font-size: 10px;
          line-height: 1;
          color: #BABABA;
          padding-top: 3.5px;
          padding-left: 12px;
          float: left;
        }
        .Reply{
          width: 16px;
          height: 13px;
          padding: 1px 0;
          float: right;
          svg{
            fill:#D5EF7F;
            width: 16px;
            height: 13px;
          }
        }
      }
      .Text{
        font-family: SourceSansPro-Regular;
        font-size: 10px;
        color: #67616D;
      }
    }
  }
}
.CommentPage{
  overflow: scroll;
  padding-bottom: 56px;
  padding-top: 47px;
}