.Participant{
  .GoingContainer{
    padding: 24px 16px 12px 0;
    margin-left: 16px;
    border-bottom: 1px solid #E8E8E8;
    .GoingCounter{
      padding-top: 5px;
      float: left;
      width: 25%;
      .Check{
        width: 12px;
        float: left;
        fill:#AC8EC9;
      }
      .InactiveText{
        font-family: SourceSansPro-Reguler;
        font-size: 12px;
        line-height: 1;
        float: left;
        padding-left: 5px;
        color: #67616D;  
      }
    }
    .ProfileContainer{
      float: left;
      overflow: hidden;
      width: 75%;
      img{
        padding-left: 7px;
        height: 24px;
        width: 24px;
        border-radius: 50%;
      }
    }
  }
  .LikeContainer{
    padding: 24px 16px 12px;
    border-bottom: 1px solid #E8E8E8;
    .LikeCounter{
      padding-top: 5px;
      float: left;
      width: 25%;
      .Like{
        width: 12px;
        float: left;
        fill:#AC8EC9;
      }
      .InactiveText{
        font-family: SourceSansPro-Reguler;
        font-size: 12px;
        line-height: 1;
        float: left;
        padding-left: 5px;
        color: #67616D;  
      }
    }
    .ProfileContainer{
      float: left;
      width: 75%;
      img{
        padding-left: 7px;
        height: 24px;
        width: 24px;
        border-radius: 50%;
      }
    }
  }
}