.EventDetailContainer{
  background: #FAF9FC;
  .SliderContainer{
    height: 100px;
    width: 95vw;
    padding: 16px 0px 12px 5vw;
    overflow-x: scroll;
    display: flex;
    .ImageContainer{
      height: 100px;
      width: 180px;
      padding-right: 12px;
      img{
        border-radius: 5px;
        height: 100%;
        width: 180px;
      }
    }
    .SliderContainer::-webkit-scrollbar {
      display: none;
    }
  }
  .DetailContainer{
    font-family: SourceSansPro-Regular;
    font-size: 14px;
    color: #67616D;
    max-height: 180px;
    margin-left: 16px;
    padding: 0 16px 16px 0;
    border-bottom: 1px solid #E8E8E8;
  }
  .TimeDetail{
    margin: 16px 0 0 16px;
    padding: 0 16px 16px 0;
    border-bottom: 1px solid #E8E8E8;
    .Date{
      overflow: hidden;
    }
    .Title{
      .TitlePointer{
        width: 4px;
        height: 18px;
        border-radius: 2px;
        background: #8560A9;
        float: left;
      }
      .Text{
        font-family: SourceSansPro-SemiBold;
        font-size: 16px;
        line-height: 1;
        float: left;
        padding-left: 8px;
        color: #8560A9;  
      }
    }
    .Start{
      float: left;
      border-right: 1px solid #E8E8E8;
      width: 49.5%;
      padding: 6px 0 2px 0;
    }
    .End{
      float: left;
      width: 49.5%;
      padding: 6px 0 2px 0;
    }
    .Text{
      font-family: SourceSansPro-Regular;
      font-size: 16px;
      line-height: 1;
      padding: 0;
      float: left;
      color: #67616D;
    }
    .DateSvg{
      width: 16px;
      fill:#D5EF7F;
      float: left;
      padding: 0px 3px 0px 13px;
    }
    .Time{
      padding: 0 0 0 32px;
      color: #AECB4F;
      font-family: SourceSansPro-Regular;
      font-size: 32px;
      span{
        font-size: 12px;
        color: #AECB4F;
        padding-left: 5px;
        font-family: SourceSansPro-Regular;
      }
    }
  }
  .PlaceDetail{
    padding: 16px;
    border-bottom: 1px solid #E8E8E8;
    .Title{
      .TitlePointer{
        width: 4px;
        height: 18px;
        border-radius: 2px;
        background: #8560A9;
        float: left;
      }
      .Text{
        font-family: SourceSansPro-SemiBold;
        font-size: 16px;
        line-height: 1;
        float: left;
        padding-left: 8px;
        color: #8560A9;  
      }
    }
    .Map{
      width: 100%;
      .Name{
        font-family:SourceSansPro-Semibold ;
        font-size: 14px;
        line-height: 1;
        color: #67616D;
        padding:8px 0;

      }
      .Street{
        font-family:SourceSansPro-Regular ;
        font-size: 14px;
        line-height: 1;
        color: #67616D;
        padding-bottom: 8px;
      }
    }
  }
  .GoingContainer{
    padding: 24px 16px 12px 0;
    margin-left: 16px;
    border-bottom: 1px solid #E8E8E8;
    .GoingCounter{
      padding-top: 5px;
      float: left;
      width: max-content;
      .Check{
        width: 12px;
        float: left;
        fill:#AC8EC9;
      }
      .InactiveText{
        font-family: SourceSansPro-Reguler;
        font-size: 12px;
        line-height: 1;
        float: left;
        padding-left: 5px;
        color: #67616D;  
      }
    }
    .ProfileContainer{
      float: left;
      overflow: hidden;
      padding-left: 10px;
      img{
        padding-left: 7px;
        height: 24px;
        width: 24px;
        border-radius: 50%;
      }
    }
  }
  .LikeContainer{
    padding: 24px 16px 12px;
    border-bottom: 1px solid #E8E8E8;
    .LikeCounter{
      padding-top: 5px;
      float: left;
      width: max-content;
      .Like{
        width: 12px;
        float: left;
        fill:#AC8EC9;
      }
      .InactiveText{
        font-family: SourceSansPro-Reguler;
        font-size: 12px;
        line-height: 1;
        float: left;
        padding-left: 5px;
        color: #67616D;  
      }
    }
    .ProfileContainer{
      float: left;
      overflow: hidden;
      padding-left: 10px;
      img{
        padding-left: 7px;
        height: 24px;
        width: 24px;
        border-radius: 50%;
      }
    }
  }
}
