.Loading{
  height: 80px;
  position: relative;
  .LoadingIcon{
    width: 40px;
    position: absolute;
    left: 50%;
    top: 10px;
    transform: translateX(-50%);
    fill:#D3C1E5;
  }
  .text{
    width: max-content;
    position: absolute;
    bottom:10px;
    left: 50%;
    transform: translateX(-50%);
    font-family: SourceSansPro-Regular;
    font-size: 14px;
    line-height: 1;
    color: #BABABA;
  }
}

.Empty{
  height: 100vw;
  position: relative;
  .Container{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    .LoadingIcon{
      width: 60px;
      position: relative;
      left: 50%;
      padding-bottom: 10px;
      transform: translateX(-50%);
      fill:#D3C1E5;
    }
    .text{
      width: max-content;
      font-family: SourceSansPro-Regular;
      font-size: 14px;
      line-height: 1;
      color: #BABABA;
    }
  }
}

.FilteredContainer{
  padding-top: 68px;
}

.Post{
  a{
    color: none; /* blue colors for links too */
    text-decoration: none; /* no underline */
  }
  margin-left:16px;
  margin-top: 16px;
  padding-right: 16px;
  padding-bottom: 0;
  border: 0;
  border-bottom: 1px;
  border-style: solid;
  border-color: #E8E8E8;  
  min-height: 100px;
  background: white;

  .Header{
    height: 20px;

    .PostProfilePicture{
      height: 20px;
      width: 20px;
      border-radius: 50%;
      float: left;
      overflow: hidden;
      img{
        height: 20px;
        width: 20px;  
      }
    }

    .PostUsername{
      font-family: SourceSansPro-Semibold;
      font-size: 12px;
      color: #67616D;
      float: left;
      padding: 4px 8px 4px;
      line-height: 1;
    }

    .PostChannel{
      font-family: SourceSansPro-Regular;
      font-size: 12px;
      color: #8560A9;
      border-radius: 10px;
      border-color: #D3C1E5;
      border-width: 1px;
      border-style: solid;
      float: right;
      padding: 3px 8px 3px;
      line-height: 1;
    }
  }
  
  .PostDetailContainer{
    .LeftDetail{
      float: left;
      width: calc(100% - 72px);
    }
    .ImageContainer{
      float: left;
      width: 64px;
      padding-left: 8px;
      padding-top: 11px;
      img{
        width: inherit;
      }
    }
    .PostTitle{
      font-family: SourceSansPro-Semibold;
      font-size: 18px;
      color: #453257;
      margin: 8px 0;
      line-height: 1.2;
      overflow: hidden;
      height: 42px;
    }
  
    .TimeLogo{
      width: 12px;
      fill:#8560A9;  
      float: left;
    }

    .TimeText{
      font-size: 12px;
      font-family: SourceSansPro-regular;
      color: #8560A9;
      float: left;
      line-height: 1;
      padding-left: 5px;
    }

    .PostDetail{
      font-size: 14px;
      font-family: SourceSansPro-regular;
      color: #67616D;
      line-height: 1;
      width: 100%;
      padding: 12px 0;
    }
  }

  .PostButton{
    padding-bottom: 18px;
    .IamGoingButton{
      fill:#AECB4F;
      height: 12px;
      width: auto;
      padding-right: 5px;
      float: left;
    }
  
    .GoingButton{
      height: 12px;
      width: auto;
      fill: #8560A9;
      padding-right: 5px;
      float: left;
    }
  
    .ILikedButton{
      height: 12px;
      width: auto;
      fill: #FF5C5C;
      padding-right: 6px;
      padding-left: 31px;
      float: left;
    }
  
    .LikedButton{
      height: 12px;
      width: auto;
      fill: #8560A9;
      padding-right: 6px;
      padding-left: 21px;
      float: left;
    }
  
    .ActiveText{
      font-family: SourceSansPro-Regular;
      font-size: 12px;
      color: #453257;
      float: left;
      line-height: 1;
    }
  
    .InactiveText{
      font-family: SourceSansPro-Regular;
      font-size: 12px;
      color: #AC8EC9;
      float: left;
      line-height: 1;
    }  
  }
}

.FilterDetails{
  height: 68px;
  position: fixed;
  top:40px;
  width: 100%;
  background: #FAF9FC;
  .Container{
    padding: 12px 16px;
  }
  .FilterHeader{
    .Size{
      font-family: SourceSansPro-Semibold;
      font-size: 16px;
      color: #8560A9;
      float: left;
      line-height: 1;
      padding: 4px 10px;
    }
    .ClearFilter{
      float: right;
      width: max-content;
      padding: 5px 9px;
      font-family: SourceSansPro-Semibold;
      font-size: 10px;
      color: #67616D;
      background: #D5EF7F;
      border-radius: 12px;
    }
  }
  .FilterDetail{
    font-family: SourceSansPro-Regular;
    font-size: 12px;
    color: #67616D;
    padding-left: 10px;
    padding-top: 3px;
  }
}