.EventContainer{
  padding-top: 40px;
  background: #FFFFFF;
  max-width: 100%;
  .PostChannel{
    font-family: SourceSansPro-Regular;
    font-size: 12px;
    color: #8560A9;
    border-radius: 10px;
    border-color: #D3C1E5;
    border-width: 1px;
    border-style: solid;
    padding: 3px 8px 3px;
    line-height: 1;
    width: max-content;
    margin: 16px;
    margin-bottom: 12px;
  }

  .PostTitle{
    font-family: SourceSansPro-Semibold;
    font-size: 20px;
    line-height:1;
    color: #453257;
    padding: 0 16px;
    height: 40px;
    overflow: hidden;
  }

  .PublisherProfile{
    padding: 24px 16px;
    .ProfilePicture{
      height: 36px;
      width: 36px;
      border-radius: 50%;
      float: left;
      overflow: hidden;
      img{
        height: 36px;
        width: 36px;  
      }
    }
    .Container{
      float: left;
      .Username{
        font-family: SourceSansPro-Regular;
        font-size: 14px;
        color: #67616D;
        padding: 4px 12px 3px;
        line-height: 1;
      }
      .PostTime{
        font-family: SourceSansPro-Regular;
        font-size: 12px;
        color: #BABABA;
        padding: 3px 12px 0px;
      }
    }
  }

  .OptionContainer{
    height: 47px;
    border-bottom: 1px solid #E8E8E8;
    border-top: 1px solid #E8E8E8;
    position: relative;
    a{
      text-decoration: none;
      position: relative;
      float: left;
      height: 100%;
      width: 33.33%;
      .Option{
        position: absolute;
        width: 100%;
        height: max-content;
        top: 50%;
        transform: translateY(-50%);
        &.Mid{
          border-left:1px solid #E8E8E8;
          border-right:1px solid #E8E8E8;
        }
        .TextContainer{
          width: max-content;
          position: relative;
          left: 50%;
          transform: translateX(-50%);
          svg{
            fill: #8C8C8C;
            height: 17px;
            float: left;
          }
          .Text{
            float: left;
            font-family: SourceSansPro-Semibold;
            font-size: 12px;
            line-height: 1;
            color: #8C8C8C;
            padding: 2.5px 0;
            padding-left: 8px;
          }
          &.ActiveState{
            svg{
              fill:#AECB4F ;
            }
            .Text{
              color: #AECB4F ;
            }
          }
        }
      }
    }
  }
  .FixOption{
    position: fixed;
    top:40px;
    width: 100%;
    background: white;
  }
}

.EventLoad{
  background: #FAF9FC;
  height: 100%;
  width: 100%;
}

.BottomNav{
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
  .GreenComment{
    background: #D5EF7F;
    width: 20%;
    height: 56px;
    float: left;
    position: relative;
    svg{
      width: 28px;
      height: 24px;
      fill:#8560A9;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%,-50%);
    }
  }
  .PurpleComment{
    background: #8560A9;
    width: 80%;
    height: 56px;
    float: left;
    position: relative;
    .Cross{
      width: 15%;
      float: left;
      height: 56px;
      position: relative;
      svg{
        fill : #D5EF7F;
        width: 24px;
        height: 24px;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%,-50%);
      }
    }
    .InputComment{
      width: 85%;
      float: left;
      height: 56px;
      position: relative;
      .InputContainer{
        height: 32px;
        width: 90%;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%,-50%);
        border-radius: 20px;
        background: white;
        input{
          height: 18px;
          width: 80%;
          position: relative;
          left: 50%;
          top: 50%;
          transform: translate(-50%,-50%);
          font-family: SourceSansPro-Regular;
          font-size: 14px;
          color:#67616D;
        }
        ::-webkit-input-placeholder { color: #D3C1E5 !important; } /* Chrome/Opera/Safari */
        ::-moz-placeholder { color: #D3C1E5 !important; } /* firefox 19+ */
        :-ms-input-placeholder { color: #D3C1E5 !important; } /* ie */
        :-moz-placeholder { color: #D3C1E5 !important; } /*below firefox 19 */
      }
    }
  }
  .Green{
    background: #D5EF7F;
    width: 45%;
    height: 56px;
    float: left;
    position: relative;
    .Going{
      height: max-content;
      position: absolute;
      width: max-content;
      top: 50%;
      left: 50%;
      transform: translate(-50%,-50%);
      .Inactive{
        fill:#BABABA;
        height: 24px;
        width: 24px;
        float: left;
      }
      .Active{
        fill:#8560A9;
        height: 24px;
        width: 24px;
        float: left;
      }
      .Text{
        height: auto;
        float: left;
        font-family: SourceSansPro-Semibold;
        font-size: 14px;
        padding: 5px 0;
        padding-left: 12px;
        color:#788C36;
        width: max-content;
        line-height: 1;
        &.Active{
          color: #8560A9;
        }
      }
    }
  }
  .Purple{
    background: #8560A9;
    width: 55%;
    height: 56px;
    float: left;
    position: relative;
    .Like{
      width: 50%;
      height: 100%;
      position: relative;
      float: left;
      .Inactive{
        fill:#453257;
        width: 23.2px;
        height: 23.4px;
        position: absolute;
        left: 50%;
        top:50%;
        transform: translate(-50%,-50%);
      }
      .Active{
        fill:#D5EF7F;
        width: 23.2px;
        height: 23.4px;
        position: absolute;
        left: 50%;
        top:50%;
        transform: translate(-50%,-50%);
      }
    }
    .Comment{
      width: 50%;
      height: 100%;
      position: relative;
      float: left;
      svg{
        fill:#453257;
        width: 23.2px;
        height: 23.4px;
        position: absolute;
        left: 50%;
        top:50%;
        transform: translate(-50%,-50%);
      }
    }
  }
}