.Login {
    text-align: center;
    max-width: 810px;
    margin: 0 auto;
  
    .Container{
      width: 100%;
      overflow: hidden;
      position: relative;
  
      .LoginTitle{
        width: 100%;
        font-family: SourceSansPro-Semibold;
        font-size: 16px;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        top:69px;
        z-index: 3;
        color: #D5EF7F;
      }
    
      .LoginSubTitle{
        width: 100%;
        font-family: SourceSansPro-bold;
        font-size: 24px;    
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        top:105px;
        z-index: 3;
        color: #D5EF7F;
      }
    
      .LoginLogo{
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        top:173px;
        z-index: 3;   
        width: 64px;
        height: 64px;
        border-radius: 50%;
        border-style: solid;
        border-color: #D5EF7F;
        border-width: 1px;
        .LogoImage{
          fill:#D5EF7F;
          width: 45px;
          height: 45px;
          position: relative;
          top:50%;
          transform: translateY(-55%);
        }   
      }
    
      .BackImage{
        position: initial;
        height: -webkit-fill-available;
        transform: translateX(-50%);
        margin-left:50%;
        z-index: 1;
      }  
      .Overlay{
        position: absolute;
        top:0;
        height: -webkit-fill-available;
        width: -webkit-fill-available;
        z-index: 2;
        background:linear-gradient(rgba(133, 96, 169, 0.7),rgba(133, 96, 169, 1));
        opacity:0.95;
      }
      .Username{
        position: absolute;
        bottom:177px;
        left:50%;
        transform: translateX(-50%);
        border-radius:20px;
        width:240px;
        height:40px;
        border-width: 1px;
        border-style: solid;
        border-color: rgba(211, 193, 229, 1);
        overflow: hidden;
        z-index: 3;
      }
      .Password{
        position: absolute;
        bottom:121px;
        left:50%;
        transform: translateX(-50%);
        border-radius:20px;
        width:240px;
        height:40px;
        border-width: 1px;
        border-style: solid;
        border-color: rgba(211, 193, 229, 1);
        overflow: hidden;
        z-index: 3;
      }
      
      .InputLogo{
        height: 13.3px;
        width: 13.3px;
        fill:#D3C1E5;
        margin: 13.3px;
        float:left;
      }
  
      .LoginInput{
        background: transparent;
        border: none;
        height: 40px;
        float: right;
        width:198px;
        color:#453257;
        font-size: 16px;
        font-family: SourceSansPro-Regular;
      }
  
      .LoginInput::-webkit-input-placeholder { /* Chrome/Opera/Safari */
        color:#AC8EC9;
      }
      .LoginInput::-moz-placeholder { /* Firefox 19+ */
        color:#AC8EC9;
      }
      .LoginInput:-ms-input-placeholder { /* IE 10+ */
        color:#AC8EC9;
      }
      .LoginInput:-moz-placeholder { /* Firefox 18- */
        color:#AC8EC9;
      }
    }
    .EnterButton{
      height: 56px;
      position: fixed;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
      width: 100%;
      background: #D5EF7F;
      z-index: 3;
      cursor: pointer;
      font-family: SourceSansPro-Semibold;
      font-size: 16px;
      line-height: 56px;
      max-width: 810px;
    }  
  }
  