.Main{
  background: white;
  width: 100%;
  transition: transform 0.3s ease-out;
  height: max-content;
  .MainFeed{
    background: white;
    position: relative;
    padding-top: 40px;
    height: max-content;
    width: 100%;
    overflow-y: auto;  
    top: 0;
  }
}

.Main.Slide {
  transform: translateX(75%);
}