.NavBar{
  z-index: 90;
  height: 40px;
  background: #8560A9;
  position: fixed;
  top:0;
  width: 100%;

  .SearchButton{
    float: left;
    margin: 8px 19px 8px;
    height: 24px;
    width: 24px;
    .SearchSvg{
      fill:#453257;
    }
    cursor: pointer;
  }

  .NavBarLogo{
    position: absolute;
    left: 50%;
    top:50%;
    transform: translate(-50%,-50%);
    .LogoSvg{
      height: 24px;
      fill:#D5EF7F;
    }
  }

  .UserProfileNav{
    float: right;
    margin: 8px 14px 8px;
    background: white;
    height: 24px;
    width: 24px;
    border-radius: 50%;
    .ProfilePicture{
      background: white;
      height: 24px;
      width: 24px;
      border-radius: 50%;
      } 
  }
}