.Details{
  padding-top: 40px;
  .PictureContainer{
    padding-top: 36px;
    position: relative;
    height: 80px;
    .Picture{
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      img{
        border: 3px solid #D3C1E5;
        width: 72px;
        height: 72px;
        border-radius: 50%;
      }
    }
  }
  .Username{
    padding-top: 20px;
    height: 40px;
    .Text{
      color:#67616D;
      font-family: SourceSansPro-Regular;
      font-size: 24px;
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
    }
  }
  .Email{
    position: relative;
    height: 20px;
    padding-bottom: 30px;
    border-bottom: 1px solid #E8E8E8;
    .Container{
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      width: fit-content;
      
      svg{
        width: 16px;
        height: 14px;
        fill: #8560A9;
        float: left;
      }
      .Text{
        color:#8560A9;
        font-family: SourceSansPro-Regular;
        font-size: 14px;
        float: left;
        line-height: 1;
        padding-left: 6px;
      }
    }
  }
}

.OptionContainer{
  height: 47px;
  border-bottom: 1px solid #E8E8E8;
  border-top: 1px solid #E8E8E8;
  position: relative;
  .Container{
    text-decoration: none;
    position: relative;
    float: left;
    height: 100%;
    width: 33.33%;
    .Option{
      position: absolute;
      width: 100%;
      height: max-content;
      top: 50%;
      transform: translateY(-50%);
      &.Mid{
        border-left:1px solid #E8E8E8;
        border-right:1px solid #E8E8E8;
      }
      .TextContainer{
        width: max-content;
        position: relative;
        left: 50%;
        transform: translateX(-50%);
        svg{
          fill: #8C8C8C;
          height: 17px;
          float: left;
        }
        .Text{
          float: left;
          font-family: SourceSansPro-Semibold;
          font-size: 12px;
          line-height: 1;
          color: #8C8C8C;
          padding: 2.5px 0;
          padding-left: 8px;
        }
        &.ActiveState{
          svg{
            fill:#AECB4F ;
          }
          .Text{
            color: #AECB4F ;
          }
        }
      }
    }
  }
}
