.SideDrawer { 
  height: 100%;
  background: #453257;
  position: fixed;
  top: 0;
  left: 0;
  width: 75%;
  z-index: 200;
  transform: translateX(-100%);
  transition: transform 0.3s ease-out;

  .LaterOption{
    padding:0 10px;
    padding-bottom:15px;
    .Tri{
      margin-left: 9%;
      width: 1px;
      border-bottom: 10px solid white;
      border-left: 10px solid transparent;
      border-right: 10px solid transparent;  
    }
    .InputContainer{
      background: white;
      .HrContainer{
        position: relative;
        float: left;
        padding: 16px 0px 16px 8px;
        hr{
          width:6px;
          margin:0;
          color: #000000;
          opacity: 0.4;
        }
      }
      .DateSvg{
        width: 12px;
        fill:#D5EF7F;
        float: left;
        padding: 11px 1px 11px 8px;
      }
      .Container{
        float: left;
        width: 77px;
        overflow: hidden;
        .InputDate{
          width: max-content;
          font-family: SourceSansPro-Regular;
          font-size: 14px;
          color: #8560A9;
          transform: translateY(20%);
          border: none;
          background: none;
          padding-top: 2px;
        }
        input[type="date"]::-webkit-inner-spin-button,
        input[type="date"]::-webkit-calendar-picker-indicator {
          display: none;
          -webkit-appearance: none;
        }
      }
    }    
  }

  .FilterSubmitInactive{
    width: 100%;
    height: 64px;
    background: #BABABA;
    position: absolute;
    bottom: 0;
    .TextContainer{
      position: relative;
      width: max-content;
      left: 50%;
      transform: translateX(-50%);
      height: 16px;
      padding-top: 15px;
      .SearchSvg{
        height: 16px;
        float: left;
        fill: #666666;
      }  
      .Text{
        font-family: SourceSansPro-Semibold;
        font-size: 16px;
        line-height: 1;  
        float: left;
        padding-left: 4px;
        color: #666666;
      }
    }
  }

  .FilterSubmit{
    width: 100%;
    height: 64px;
    background: #D5EF7F;
    position: absolute;
    bottom: 0;
    .TextContainer{
      position: relative;
      width: max-content;
      left: 50%;
      transform: translateX(-50%);
      height: 16px;
      padding-top: 15px;
      .SearchSvg{
        height: 16px;
        float: left;
        fill: #453257;
      }  
      .Text{
        font-family: SourceSansPro-Semibold;
        font-size: 16px;
        line-height: 1;  
        float: left;
        padding-left: 4px;
        color: #453257;
      }
    }
    .FilterText{
      position: relative;
      width: max-content;
      left: 50%;
      transform: translateX(-50%);
      height: 16px;
      padding-top: 5px;        
      font-family: SourceSansPro-Reguler;
      font-size: 10px;
      line-height: 1;  
      color: #8560A9;
    }
  }

  .Title{
    height: 40px;
    width: 100%;
    position: relative;
    .TitleText{
      font-family: SourceSansPro-Semibold;
      font-size: 12px;
      color: #AC8EC9;
      position: absolute;
      top:50%;
      left: 50%;
      transform: translate(-50%,-50%);
      border-bottom: #8560A9;
      border-bottom-width: 1px;
      border-bottom-style: solid;
      width: max-content;
      line-height: 1.7;
    }
  }
  .Channel input,
  .Date input{
    display: none;
  }

  .Date input + label{
    font-family: SourceSansPro-Regular;
    font-size: 14px;
    color: #E8E8E8;
    padding: 3px 8px;
    width: max-content;
    float: left;
    border-radius: 12px;
  }

  .Date input:checked + label,
  .Date input:checked + label:active {
    font-family: SourceSansPro-Semibold;
    color: #453257;
    background: #E5F7A9;
  }

  .Channel input + label{
    font-family: SourceSansPro-Regular;
    font-size: 14px;
    color: #E8E8E8;
    padding: 3px 8px;
    width: max-content;
    float: left;
    border-radius: 12px;
    border-style: solid;
    border-color: #FFFFFF;
    border-width: 1px;
    margin-right: 12px;
    margin-bottom: 9px;
}

  .Channel input:checked + label,
  .Channel input:checked + label:active {
    font-family: SourceSansPro-Semibold;
    color: #453257;
    background: #E5F7A9;
    border-color: #E5F7A9;
}

  .FilterContainer{
    width: 94%;
    padding: 5px 3% 7px;
  }
}

.SideDrawer.Open {
  transform: translateX(0);
}